<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>feemanagementweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>p1.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveaccount</display-name>
    <servlet-name>saveaccount</servlet-name>
    <servlet-class>p1.saveaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveaccount</servlet-name>
    <url-pattern>/saveaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addstudent</display-name>
    <servlet-name>addstudent</servlet-name>
    <servlet-class>p1.addstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudent</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>p1.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewaccountant</display-name>
    <servlet-name>viewaccountant</servlet-name>
    <servlet-class>p1.viewaccountant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewaccountant</servlet-name>
    <url-pattern>/viewaccountant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewstudent</display-name>
    <servlet-name>viewstudent</servlet-name>
    <servlet-class>p1.viewstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewstudent</servlet-name>
    <url-pattern>/viewstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>duestudent</display-name>
    <servlet-name>duestudent</servlet-name>
    <servlet-class>p1.duestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>duestudent</servlet-name>
    <url-pattern>/duestudent</url-pattern>
  </servlet-mapping>
</web-app>